## Hw1

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [7]:
df.fuel_type.nunique()

2

In [8]:
df.fuel_type

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [10]:
num_columns_with_missing_values = df.isna().any().sum()
num_columns_with_missing_values

np.int64(4)

In [11]:
df.origin.unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [15]:
df[ df['origin']=='Asia' ].fuel_efficiency_mpg.max().round(2)

np.float64(23.76)

In [16]:
df.horsepower.median()

np.float64(149.0)

In [17]:
# the most frequent value in horsepower column
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [18]:
# use the fillna method to fill missing values in horsepower column with the most frequent value
# and calculate the median again
df.horsepower.fillna( df.horsepower.mode() ).median()

np.float64(149.0)

In [27]:
# Q7
X = df[ df['origin']=='Asia' ][ ['vehicle_weight', 'model_year'] ].head(7).values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [28]:
XTX = np.dot(X.T, X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [29]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [30]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [31]:
# multiply the inv of XTX with the transpose of X, and then multiply the result by y
w = np.dot( np.dot( XTX_inv, X.T), y)
w

array([0.01386421, 0.5049067 ])

In [32]:
w.sum()

np.float64(0.5187709081074016)